<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Deer and Tick Survey</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
</head>
<body>
    <div class="navbar">MEaSURE Deer and Tick Survey</div>
    <div class="page">
      <div class="main">
        <h1>Whoops!</h1>
        <p>Sorry, I didn't understand your request.</p>
        <div class="copyright"><small>&copy; <script>document.write(new Date().getFullYear())</script><noscript>2023</noscript> Dr Jonny Huck</small></div>
      </div>
    </div>
  </body>
</html>